services:
  db:
    image: postgres:16-alpine
    command: ["postgres", "-c", "max_connections=1000"]
    restart: always
    environment:
      - POSTGRES_DB=weather_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"

  api:
    build: .
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    depends_on:
      - db
